@import url(https://fonts.googleapis.com/css?family=Glegoo);

@import url(https://fonts.googleapis.com/css?family=Kameron);

@import url(https://fonts.googleapis.com/css?family=Aleo);


body
{
    font-family: "Glegoo", "Kameron", "Aleo";
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right,#2C6F22 0%, #2C6F22 65%, #215419 0%, #215419 35%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, a {color: #FFCC00;}

a {text-decoration: none;}

a:hover {color: #F56702;}

p {color: white;}

li {color: white;}

.nav
{
    display: flex;
    flex-direction: column;
    border-right: #FFCC00 solid 5px;
    padding-right: 2%;
    margin: 0%;
    display: inline-flex;
}

.nav > ul
{
    list-style: none;
    padding: 0%;
}


.header
{
    display: inline-flex;
    margin-left: 1rem;
    flex-direction: column;
    position: absolute;
    top: 50px;
}


#text
{

    padding-top: 50px;
    padding-bottom: 5%;
}

.image
{
    max-width: 350px;
    border: solid black 5px;
}

.footer
{
    margin-top: auto;
}

.footerdiv
{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}

.facbk
{
    color: #1877F2
}

.dc
{
    color: #738ADB;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

@media (max-width: 600px)
{
    .card-img-top {
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }
}

bg-darker
{
    background-color: rgb(33, 33, 33);
}

.coloryl
{
    color: #FFCC00;
}