@import url(https://fonts.googleapis.com/css?family=Glegoo);

@import url(https://fonts.googleapis.com/css?family=Kameron);

@import url(https://fonts.googleapis.com/css?family=Aleo);


body
{
    font-family: "Glegoo", "Kameron", "Aleo";
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right,#2C6F22 0%, #2C6F22 65%, #215419 0%, #215419 35%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


h1, h2, a {color: #FFCC00;}

a {text-decoration: none;}

a:hover {color: #F56702;}

p, td {color: white;}

.yellowtxt
{
    color: #FFCC00;
}

.nav
{
    display: flex;
    flex-direction: column;
    border-right: #FFCC00 solid 5px;
    padding-right: 2%;
    margin: 0%;
    display: inline-flex;
}

.nav > ul
{
    list-style: none;
    padding: 0%;
}


.header
{
    display: inline-flex;
    margin-left: 1rem;
    flex-direction: column;
    position: absolute;
    top: 50px;
}

.hmargin
{
    padding-top:40px;
}

td
{
    padding-right: 80px;
}

.list2
{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}



.list2 > div
{
    color: white;
    
}

.list > div
{
    color: white;
}




.image
{
    border: black solid 5px;
    max-width: 160px;
}

.extra
{
    padding-bottom: 50px;
}

.footer
{
    margin-top: auto;
}

.footerdiv
{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}

.facbk
{
    color: #1877F2
}

.dc
{
    color: #738ADB;
}

.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: #FFCC00;
    --bs-btn-border-color: #FFCC00;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #e3b600;
    --bs-btn-hover-border-color: #e3b600;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #d6a71a;
    --bs-btn-active-border-color: #d6a71a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #c6a648;
    --bs-btn-disabled-border-color: #c6a648;
  }

  @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}